attrs==25.3.0
black==25.1.0
click==8.1.8
coverage==7.7.0
flexcache==0.3
flexparser==0.4
hypothesis==6.129.4
mypy-extensions==1.0.0
numpy==2.2.4
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
Pint==0.24.4
platformdirs==4.3.7
pyserial==3.5
six==1.17.0
sortedcontainers==2.4.0
tornado==6.4.2
typing_extensions==4.12.2
wxPython==4.2.2
